<h2>New Book</h2>
<div>

<<<<<<< HEAD
  <form action="/books" method="post">
       <%- include("_form_fields") %>
       <div class="button-right-align">
            <a href="/books" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
       </div>
   </form>
=======
<form action ="/books" method="post" >
     <%- include("_form_fields") %>
     <div class="button-right-align">
          <a href = "/books" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">Create</button>
     </div>
</form>
>>>>>>> origin/master
</div>