<footer class="footer">
    <div class="slogen">
        <div class="slogen-logo">VidlyReads</div>
         — Your Reading Road Map
    </div>
    <div class="copyright">
        Copyright 2021 © Bhavneet
    </div>
</footer>