<h2>Recently Added Books</h2>
<div>
    <a href="/books/<%= book.id %>" >
        <% books.forEach(book => { %>
            <img height="150" width="100" src="<%= book.coverImagePath %>">
        <% }) %>
    </a>
</div>